@font-face {
  font-family: "Dolce Vita";
  src: url("../../../Assets/Fonts/Dolce\ Vita.ttf");
}

.mainBloc {
  height: 100vh;
  background-image: url("../../../Assets/Img/aboutpage/main-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  &-citation {
    width: 320px;
    height: 20%;
    margin: 113px 9px 30px 168px;

    &-title {
      color: whitesmoke;
      font-size: 1.2em;
      letter-spacing: 1px;
      font-family: "Dolce Vita";
    }
  }
}

.final-picture-bloc-citation--name {
  font-family: "Hijrnotes";
  font-size: 1em;
}

@media screen and (max-width: 945px) {
  .mainBloc-citation-title {
    font-size: 0.6em;
  }
}
