@font-face {
  font-family: "Dolce Vita";
  src: url("../../../Assets/Fonts/Dolce\ Vita.ttf");
}

.mainBloc {
  height: 100vh;
  font-size: 10px;
  background-image: url("../../../Assets/Img/aboutpage/main-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  &-citation {
    width: 320px;
    height: 20%;
    margin: 119px 9px 30px 301px;

    &-title {
      color: whitesmoke;
      font-size: 1.3em;
      letter-spacing: 1px;
      font-family: "Dolce Vita";
    }
  }
}
