.picture-bloc {
  height: 100vh;
  background-image: url("../../../Assets/Img/aboutpage/second-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.final-picture-bloc {
  height: 100vh;
  background-image: url("../../../Assets/Img/aboutpage/third-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
