@font-face {
  font-family: "Acens";
  src: url("../../../Assets/Fonts/Acens.ttf");
}

.mainContainer__products {
  display: flex;
  font-size: 10px;

  &-title {
    height: 100vh;
    width: 20%;
    background-color: #e2e2e2;
    position: fixed;
  }

  &-secondPart {
    width: 80%;
    position: absolute;
    right: 0px;
  }

  &-productsTitle {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
  }

  &-pictures {
    background-color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &-descriptions {
    height: 20vh;
    background-color: white;

    &-text {
      font-size: 1.3em;
      font-family: "Roboto";
      width: 600px;
      padding: 40px;
    }
  }
}

.myLink__menu-linkProduct {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-family: "Moonglade";

  &:hover {
    color: red;
  }
}

.mainProducts__title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  font-size: 7em;
  font-family: "Acens";
  transform: rotate(-180deg);
}

#firstPictures {
  position: relative;
  top: -30px;
}

#thirdPictures {
  position: relative;
  top: 30px;
}

@media screen and (max-width: 945px) {
  .mainProducts__title {
    font-size: 5em;
  }

  .mainContainer__products-descriptions-text {
    width: 100%;
    text-align: justify;
    padding: 15px;
  }
}
