@font-face {
  font-family: "Resotho-Extralight";
  src: url("../../../Assets/Fonts/Resotho-Extralight.otf");
}

.text-bloc {
  height: 606px;
  display: flex;
  width: 100%;
  color: whitesmoke;
  background-color: #232323;
}

.container-card {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #232323;
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.container-bloc2 {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.title-bloc2 {
  position: relative;
  top: 178px;
  font-family: "Resotho-Extralight";
  font-size: 60px;
  letter-spacing: 5px;
}

.text_bloc2 {
  position: relative;
  top: 189px;
  padding-right: 55px;
  line-height: 20px;
  font-size: 13px;
  font-family: "Roboto";
}

@media screen and (max-width: 1135px) {
  .text-bloc {
    flex-direction: column;
    height: min-content;
  }

  .container-card {
    height: 500px;
    margin: 0 auto;
    width: 60%;
  }

  .text_bloc2 {
    position: relative;
    padding: 0;
    margin: 0 52px;
    top: -90px;
    text-align: justify;
  }

  .container-bloc2 {
    width: 100%;
    margin-bottom: 30px;
  }

  .title-bloc2 {
    padding: 55px 30px 55px 30px;
    letter-spacing: 80px;
    font-size: 5.7vw;
    position: relative;
    top: -90px;
  }
}

@media screen and (max-width: 945px) {
  .mainBloc-about {
    height: 50vh;
  }

  #citation,
  #citation2,
  .picture-bloc,
  .final-picture-bloc {
    display: none;
  }

  .title-bloc2 {
    letter-spacing: 27px;
    text-align: center;
  }

  .picture-bloc,
  .final-picture-bloc {
    height: 80vh;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
  }

  .container-profil {
    margin-top: 50px;
  }
}
