.questions__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-each{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: lightblue;
    width: 505px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    }

    &-answers{
        text-align: center;
    }
}