.mainContainer__contact {
  height: 100vh;
  background-image: url("../../../Assets/Img/contactpage/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  &-title {
    margin: auto 0;
    font-family: "DolceVita";
    color: whitesmoke;
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &-text {
    padding: 100px;
    line-height: 20px;
    color: #495057;
    font-size: 1.1em;
    text-align: justify;
  }
}

@media screen and (max-width: 945px) {
  .mainContainer__contact-text {
    padding: 35px;
    font-size: 1em;
  }
}
