.formulaire {
  width: 50%;
  height: 880px;
  padding-top: 10px;
  margin: auto;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;

  &__input {
    margin: 10px;

    &-shop {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    &-textAreaInput {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
  }

  &__mainTitle {
    font-family: "Dolce Vita", sans-serif;
    text-align: center;
    padding: 40px 0;
    color: whitesmoke;
    font-size: 6vw;
    letter-spacing: 13px;
  }

  &__label {
    margin-left: 60px;
    margin-top: 40px;
    font-family: "Roboto";
    display: flex;
    color: whitesmoke;
    font-size: 1em;

    &-select {
      height: 20px;
      align-self: end;
      margin-left: 10px;
      margin: 0 auto;
      margin-top: 30px;
    }

    &-textAreaInput {
      align-self: start;
      margin-left: 60px;
      margin-top: 40px;
      font-family: "Roboto";
      display: flex;
      color: whitesmoke;
      font-size: 1em;
    }
  }

  &__messageSubmitted {
    color: whitesmoke;
    display: flex;
    margin: 10px auto;
    text-align: center;
    width: 264px;
    font-size: 0.8em;
    font-family: "Roboto";
  }

  &__loading {
    display: flex;
    height: 73px;
    margin: 0 auto;
    width: 76px;
  }
  &__emailError {
    color: red;
    text-align: center;
    font-size: 0.8em;
  }

  &__allInputs {
    border: none;
    margin: 13px 0 15px 59px;
    font-family: "Roboto";
    width: 75%;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 0.8em;
  }

  &__textArea {
    width: 75%;
    height: 115px;
    font-family: "Roboto";
    line-height: 23px;
    margin-top: 30px;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 5px;
    font-weight: bold;

    &-textRemaining {
      color: whitesmoke;
      text-align: center;
      font-size: 0.8em;
      font-family: "Roboto";
    }

    &-warning {
      color: red;
      text-align: center;
      font-size: 0.8em;
      font-family: "Roboto";
      font-weight: bold;
    }
  }

  &__button-valide {
    display: block;
    width: 152px;
    height: 32px;
    background-color: rgb(71, 71, 91);
    border: 2px solid whitesmoke;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    margin: 0 auto;
    margin-top: 20px;
    transition: 1s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 945px) {
  .formulaire {
    width: 88%;

    &__label {
      margin-left: 20px;
    }

    &__allInputs {
      font-size: 0.8em;
    }

    &__label-textAreaInput {
      margin-left: 20px;
    }
  }
}
