.footer {
  display: flex;
  align-items: center;
  height: 200px;
}

.mainFooter__container {
  display: flex;
  margin-left: 85px;
  width: 40%;
  height: 90%;
}

.mainFooter__container-first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;

  &-title {
    margin-bottom: 10px;
    font-family: "Moonglade";
    font-size: 0.8em;
  }

  &-link {
    text-decoration: none;
    color: black;
    width: 155px;
    font-family: "Roboto";
    font-size: 0.6em;

    &:hover {
      color: grey;
    }
  }
}

.mainFooter__container-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;

  &-title {
    margin-bottom: 10px;
    font-family: "Moonglade";
    font-size: 0.8em;
  }
}
